
body{
    background-image: url('../images/backgroundindex.jpg');
    fill: none;
    height: 1000px;
    font-family: "pf-uniform", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    font-size: 50px;
    justify-content: center;
    color: snow;
  
   
  }
 
.navmain{
  background-color: skyblue;
  display: flex;
  justify-content: center;
  
}

canvas{
  margin-right: auto;
  margin-left: auto;
  margin-top: 500px;

}


.title{
  font-size:100px;
  margin: auto;
  margin: auto;
  margin-top: 150px;
  

}

a:hover{
  background-color: springgreen;
  
}

.humanText{
  display: flexbox;
  flex-direction: column;
  columns: 2;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.humanText2{
  display: flexbox;
  flex-direction: column;
  columns: 1;
  flex: auto;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  margin-left: 1850px;
  margin-top: 150px;

}

p:hover{
  background-color:springgreen ;
}